services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U myuser -d mydatabase']
      interval: 5s
      timeout: 5s
      retries: 10

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     args:
  #       DATABASE_URL: ${DATABASE_URL}
  #   container_name: booking_api
  #   restart: unless-stopped
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   env_file:
  #     - .env
  #   environment:
  #     NODE_ENV: production
  #     PORT: 3000
  #     DATABASE_URL: postgresql://myuser:mypassword@postgres:5432/mydatabase
  #   ports:
  #     - '3000:3000'

volumes:
  postgres_data:
